.cabecalho{
    position: relative;
    top: 100px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: rgb(204, 255, 0); */
}
@media (max-width: 768px) {
    .cabecalho {
        top: 100px;
        height: 400px;
    }
}

.foto{
    /* background-color: beige; */
    padding-top: 150px;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foto-perfil{
    width: 30%;
    height: 30%;
    box-shadow: 0 0 20px rgba(79, 70, 229, 0.3);
    /* box shadow generation = cssmatic.com */
    border-radius: 50%;
    animation: flutuar 5s ease-in-out infinite;
}
@media (max-width: 768px) {
    .foto-perfil{
        width: 50%;
        height: 50%;
    }
}

h1{
    font-size: 3.5rem;
    color: var(--primary);
    font-weight: bold;
    margin: 20px;
}
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }
}

.cabecalho-sub-titulo{
    font-size: 1.5rem;
    color: var(--primary-white);
}